.chargeStep {
  height: 130px;
  width: 130px;
  margin: 10px;
  border: #5e403b solid 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    background-color: transparent;
    border: none;
  }

  &:last-child {
    background-color: transparent;
    border: none;
  }

  &_grogu {
    height: 75px;
    width: 75px;
  }
}
