.App {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 50px 1fr;
background-color: gray;
height: 100%;
padding: 15px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}