.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  background-image: url("../images/The-Mandalorian-27.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  padding: 30px;
}
