.cabinet {
  width: 100%;
  height: 550px;
  background-image: url("../../../../images/cabinet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 450px;
}
